<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Zone</li>
                    </ol>
                </nav>
            </div>
        </div>
<h6 class="mb-0 text-uppercase">Zone</h6>
<hr>
<div class="card border-top border-0 border-4 border-danger">
    <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
            <div><i class="bx bxs-user me-1 font-22 text-danger"></i>
            </div>
            <h5 class="mb-0 text-danger">Add/Update Zone</h5>
        </div>
        <hr>
        <form class="row g-3">
            <div class="mb-3">
                <label class="form-label">Select2 Input Group Apend</label>
                <div class="input-group">
                    <select class="single-select form-select select2-hidden-accessible" data-select2-id="7" tabindex="-1" aria-hidden="true">
                        <option selected="" data-select2-id="9">Last Visit</option>
                        <option value="1" data-select2-id="37">Dashboard</option>
                        <option value="2" data-select2-id="38">Control</option>
                        <option value="3" data-select2-id="39">KPI</option>
                        <option value="3" data-select2-id="40">Map</option>
                        <option value="3" data-select2-id="41">Billing Product</option>
                    </select><span class="select2 select2-container select2-container--bootstrap4 select2-container--above" dir="ltr" data-select2-id="8"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-0vxi-container"><span class="select2-selection__rendered" id="select2-0vxi-container" role="textbox" aria-readonly="true" title="Last Visit">Last Visit</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    <button class="btn btn-outline-secondary" type="button"><i class="bx bx-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputLastName1" class="form-label">Zone Name</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
                    <input type="text" class="form-control border-start-0" id="inputLastName1" placeholder="First Name">
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputLastName2" class="form-label">Circle Name</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
                    <input type="text" class="form-control border-start-0" id="inputLastName2" placeholder="Last Name">
                </div>
            </div>
            <div class="col-12">
                <label for="inputPhoneNo" class="form-label">Zone Short Name</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-microphone"></i></span>
                    <input type="text" class="form-control border-start-0" id="inputPhoneNo" placeholder="Phone No">
                </div>
            </div>
            <div class="col-12">
                <label for="inputEmailAddress" class="form-label">Email Address</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-message"></i></span>
                    <input type="text" class="form-control border-start-0" id="inputEmailAddress" placeholder="Email Address">
                </div>
            </div>
            <div class="col-12">
                <label for="inputChoosePassword" class="form-label">Choose Password</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-lock-open"></i></span>
                    <input type="text" class="form-control border-start-0" id="inputChoosePassword" placeholder="Choose Password">
                </div>
            </div>
            <div class="col-12">
                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-lock"></i></span>
                    <input type="text" class="form-control border-start-0" id="inputConfirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="col-12">
                <label for="inputAddress3" class="form-label">Address</label>
                <textarea class="form-control" id="inputAddress3" placeholder="Enter Address" rows="3"></textarea>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">Check me out</label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-danger px-5">Register</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
